.leaflet-container {
    background: #ffffff;
}

#squad_msg {
	display: inline-block;
    position: relative;
    width: 90%;
	font-size: 11px;
}

.json_error_msg {
	padding-top: 7px; 
	font-size:12px;
}

.json_error_delete {
	display: inline-block;
    position: relative;
    font-size: 15px;
    float: right;
	background-color: #ffcccc; 
	color: #ffcccc;
	cursor: pointer;
}

.json_error_delete:hover {
	color: #ff0000;
}

.json_error_delete:active {
	color: #555555;
}

.green_background {
  display: inline-block;
  position:relative;
  padding: 5px;
  background-color: #CCFF99;
  border: 1px solid #00cc00;
  border-radius: 4px;
}

.red_background {
  display: inline-block;
  position:relative;
  padding: 5px;
  background-color: #FFcccc;
  border: 1px solid #ff0000;
  border-radius: 4px;
}

#map-container {
    display: inline-block;
    position: relative;
    width: 95%;
}

#map-container:after {
    content: '';
    display: block;
    margin-top: 75%;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.my-layer-item {
	min-width: 100px;
	font-weight: normal;
	cursor: pointer;
}

.delete {
	position: relative;
	float: right;
	color: #ffffff;
	background-color: #ffffff;
	cursor: pointer;
}

.delete:hover {
	color: #ff0000;
}

.delete:active {
	color: #555555;
}

#mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: none;
    z-index: 10000;
}

#popup
{
	width: 80%;
    #height: 150px;
	margin: 10px auto;
	padding-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #000000;
    background-color: #ffffff;
    cursor: pointer;
	padding: 10px;
    position: relative;
    z-index: 10001;
    display: none;

	text-align: left; 
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	
	overflow:hidden;
}

.save-heading {
	font-size: 24px;
/*	font-variant:small-caps;*/
}

#save-buttons {
	padding-top: 20px;
	position:relative;
	float: right;

}

#save-as {
	width: 80%;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 24px;
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #ccc;
}

#save-as:focus {
	outline: none;
	border-style: solid; 
	border-color: black;
}

.mybutton {
	outline: none;
	background-color:#ededed;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:/*inline-block*/inline;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:85px;
	text-decoration:none;
	text-align:center;
	
}.mybutton:hover {
	color: #ffffff;
	background-color:#999999;
	
}.mybutton:active {
	color: #ffffff;
	background-color:#999999;
	position:relative;
	top:2px;
}

.savebutton {
	background-color: #F9F9FF;
	border:4px solid #dcdcdc;
	height:38px;
	width:90px;
}
.active-button {
	color: #ffffff;
	background-color:#999999;
	position:relative;
	top:2px;
}

.obj_text {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#000000;
}

.obj_name {
	font-size: 15px;
	font-style: bold;
}

.obj_pts {
	font-size: 8px;
}

.obj_guild_name {
	font-size: 10px;
	display: inline-block; 
	min-height: 42px; 
	max-width: 150px;
	vertical-align: top; 
}

.obj_time_owned {
	font-size: 10px;
	color: #767679;
}


.green_text {
	color: #006600;
}

.red_text {
	color: #CC0000;
}
.blue_text {
	color: #003399;
}

.green_bar {
	background-color: #006600;
}

.red_bar {
	background-color: #CC0000;
}
.blue_bar {
	background-color: #003399;
}

.stats_bar {
	position:relative;
	display:inline;
	float: left;
	min-height: 8px;
	font-size: 16px;
	padding-left: 10px;
}

.match_summary {
  display: inline-block;
  position:relative;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.428571429;
  word-wrap: normal;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.capture_timeline {
	width: 90%;
	max-height: 200px;
}

.armies {
	width: 100%;
	text-overflow: ellipsis;
	display: inline-block;
  	position:relative;
  	overflow-y: hidden;
 	overflow-x: hidden;
 	line-height: 1.428571429;
    word-wrap: normal;
}

.match_title {
	padding: 9.5px;
  	margin: 0 0 10px;
  	font-size: 18px;
}


.vs {
	font-size: 15px;
 	font-weight: bold;
}


.bloodlust {
	position: relative;
	display: inline;
	padding-right:2px;
	padding-left:2px;
}
